* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #53c4d8, #020101);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* CARD */
.card {
    background-color: #b78529;
    border-radius: 12px;
    padding: 35px;
    width: 90%;
    max-width: 350px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

/* HEADING */
h2 {
    color: rgb(67, 57, 57);
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* INPUT */
input {
    padding: 12px;
    border-radius: 6px;
    background-color: #e2dede;
    border: 1px solid black;
    outline: none;

    transition: all 0.3s ease;
}

input:focus {
    border-color: #2c3e50;
    background-color: #7fd3e0;
}

/* BUTTON */
button {
    background-color: rgb(74, 85, 169);
    padding: 12px;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;
}

button:hover {
    background-color: #de9e51;
    transform: scale(1.05);
}